<style>
    body {
        font-family: Inter, sans-serif;
        font-max-size:  14px;
    }
    .right {
        text-align: right;
    }
    .container {
        width: 730px;
        margin: auto;
        padding: 15px;
    }
    .invoice-ref-row {
        display: flex;
        justify-content: space-between;
    }
    .table-order-price td {
        padding: 4px 15px;
    }
    .footer {
        text-align: center;
        width: 100%;
        font-size: 12px;
    }
</style>

<div class="container">
    <div style="height: 20px"></div>
    <div class="invoice-ref">
        <div class="invoice-ref-row">
            <div><b>Customer</b>: John DOE</div>
            <div><b>Date</b>: 2021-06-26</div>
        </div>
        <div style="height: 15px"></div>
        <div class="invoice-ref-row right">
            <div><b>Reference</b>: <a href="https://blog.tericcabrel.com">INVOICE-567767</a></div>
        </div>
    </div>
    <div style="height: 30px"></div>
    <h1>HERE IS THE QR CODE</h1>
    <div>
        <img src="{{ qrcode }}" alt="No QR Code"/>
    </div>
    <div class="footer">&copy; 2021 E-Store Ltd.</div>
</div>

